body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide native scrollbar while preserving scroll behavior */
/* Apply to root/app elements to ensure the scrolling element is targeted */
html,
body,
#root,
.App {
  height: 100%;
  /* overflow-y: auto; */
  /* Enable vertical scrolling within the App container if needed */
  -ms-overflow-style: none;
  /* IE and Edge */
  /* scrollbar-width: none; */
  /* Firefox */
}

/* Chrome, Safari and Opera */
/* html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
.App::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.property-highlights {
  background-color: #1075e0;
}

.rating {
  width: 100%;
  display: inline-block;
}